    .text-footer{
        background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .aawfully-footer {
        padding: 77px 0 45px;
        background: #000;
        color: #ffe900;

    }
    .footer-grid-item-h{
 color: #00deff;
    }
    .aawfully-footer .aawfully-footer__instagram-feed {
        padding-bottom: 70px;
    }

    .wayfx-footer .wayfx-footer__instagram-feed .grid {
        display: grid;
        grid-template-columns: 3fr 3fr 1fr 3fr 3fr;
        align-items: center;
        gap: 29px;
    }


    .wayfx-footer .wayfx-footer__instagram-feed .grid img{
        max-width: 100%;
        height: auto;
    }


.aawfully-footer .aawfully-footer__instagram-feed .aawfully-footer__instagram-feed-handle {
    display: block;
    transform: rotate(-90deg);
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 35px;
    color: #ffe900;
    font-family: sohne-breit;
    font-weight: 700;
    letter-spacing: -.01em
}

    .aawfully-btn.aawfully-btn__on-yellow {
        color: #000;
        border: 1px solid #000;
    }
    .aawfully-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
        height: 48px;
        background: 0 0;
        color: #000;
        border-radius: 9px;
        border: 1px solid #000;
        font-family: sohne-breit;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1;
        transition: all .2s ease-in-out;
        white-space: nowrap;
        text-decoration: none;
    }
    #canada-modal-toggle {
        visibility: hidden;
    }
    .fomo-sr-only {
        display: block !important;
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }
    .aawfully-footer .aawfully-footer__instagram-feed {
        padding-bottom: 70px;
    }
    .aawfully-footer .aawfully-footer__instagram-feed .grid {
        display: grid;
        grid-template-columns: 3fr 3fr 1fr 3fr 3fr;
        align-items: center;
        gap: 29px;
    }
    .aawfully-footer .aawfully-footer__instagram-feed .aawfully-footer__instagram-feed-handle {
        display: block;
        transform: rotate(-90deg);
        font-size: 30px;
        font-size: 1.875rem;
        line-height: 35px;
        color: #ffe900;
        font-family: sohne-breit;
        font-weight: 700;
        letter-spacing: -.01em;
    }

    .aawfully-footer .aawfully-footer__wrapper {
        padding: 70px 16px 108px;
        border-top: 1px solid #ffe900;
    }
    .aawfully-wrapper {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 48px;
        padding-right: 48px;
        position: relative;
    }

    .aawfully-footer .aawfully-footer__wrapper h2 {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 1;
        font-weight: 900;
        margin-bottom: 44px;
    }

    .aawfully-footer .aawfully-footer__wrapper ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .aawfully-footer .aawfully-footer__wrapper ul li a {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 27px;
        color: #ffe900;
        display: block;
    }
    .aawfully-footer .aawfully-footer__wrapper ul li+li {
        margin-top: 33px;
    }
    .aawfully-footer .aawfully-footer__wrapper ul li a {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 27px;
        color: #ffe900;
        display: block;
    }
    .aawfully-footer .aawfully-footer__wrapper .grid .grid__item:nth-child(5) {
        display: flex;
    }

    @media (max-width: 1024px){
    .aawfully-footer .aawfully-footer__wrapper .aawfully-footer__newsletter {
        margin-left: auto;
    }
    }



    .aawfully-footer .aawfully-footer__wrapper .aawfully-footer__newsletter {
        margin-left: auto;
        width: 100%;
    }
    .aawfully-footer .aawfully-footer__wrapper .aawfully-footer__newsletter .aawfully-footer__newsletter-form h2 {
        text-transform: initial;
        font-weight: 700;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 24px;
        margin-bottom: 29px;
        max-width: 345px;
    }
    .aawfully-footer .aawfully-footer__wrapper .aawfully-footer__newsletter .aawfully-footer__newsletter-form form input {
        border-left: 0!important;
        border-top: 0!important;
        border-right: 0!important;
        border-radius: 0!important;
    }
    ..aawfully-footer .aawfully-footer__wrapper .aawfully-footer__newsletter .aawfully-footer__newsletter-form form button {
        font-family: sohne-breit!important;
    }
    .aawfully-btn.aawfully-btn__on-black {
        color: #ffe900;
        border: 1px solid #ffe900;
    }
    .aawfully-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
        height: 48px;
        background: 0 0;
        color: #000;
        border-radius: 9px;
        border: 1px solid #000;
        font-family: sohne-breit;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1;
        transition: all .2s ease-in-out;
        white-space: nowrap;
        text-decoration: none;
    }
    .aawfully-footer .aawfully-footer__wrapper .aawfully-footer__newsletter__success {
        max-width: 340px;
        width: 100%;
        padding: 45px 0 48px;
        position: relative;
    }
    .aawfully-footer .aawfully-footer__wrapper .aawfully-footer__newsletter__success h2 {
        margin-bottom: 0;
        text-transform: initial;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 23px;
        letter-spacing: .5px;
        max-width: 75%;
    }
    .aawfully-footer .aawfully-footer__wrapper h2 {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 1;
        font-weight: 900;
        margin-bottom: 44px;
    }
    .aawfully-footer .aawfully-footer__sub {
        padding-left: 16px;
        padding-right: 16px;
    }
    .aawfully-wrapper {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 48px;
        padding-right: 48px;
        position: relative;
    }
    .aawfully-footer .aawfully-footer__sub .flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .aawfully-footer .aawfully-footer__sub .flex .flex__item {
        flex: 1;
        display: flex;
    }
    .aawfully-footer .aawfully-footer__sub p {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 27px;
    }
    .aawfully-footer .aawfully-footer__sub .flex .flex__item:nth-child(2) {
        justify-content: center;
    }
    .aawfully-footer .aawfully-footer__sub .flex .flex__item {
        flex: 1;
        display: flex;
    }
    .aawfully-footer .aawfully-footer__sub .aawfully-social-media {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }
    .aawfully-footer .aawfully-footer__sub .aawfully-social-media li a {
        display: block;
        line-height: 1;
        color: #ffe900;
    }
    .aawfully-footer .aawfully-footer__sub .aawfully-social-media li a img {
        max-height: 26px;
        object-fit: contain;
        transform: scale(1);
        transition: transform .2s ease;
    }
    .aawfully-footer .aawfully-footer__sub .aawfully-social-media li+li {
        margin-left: 23px;
    }
    .aawfully-footer .aawfully-footer__sub .aawfully-social-media li a {
        display: block;
        line-height: 1;
        color: #ffe900;
    }

    .aawfully-footer .aawfully-footer__sub .flex .flex__item:nth-child(3) {
        justify-content: flex-end;
    }
    .aawfully-footer .aawfully-footer__sub .flex .flex__item {
        flex: 1;
        display: flex;
    }

    .aawfully-footer .aawfully-footer__sub .aawfully-legal-links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }
    .aawfully-footer .aawfully-footer__sub .aawfully-legal-links li+li {
        margin-left: 56px;
    }
    .aawfully-footer .aawfully-footer__sub .aawfully-legal-links li a {
        display: block;
        color: #ffe900;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 27px;
    }
    @media (max-width: 1024px){
        .aawfully-footer {
            padding: 56px 0 32px;
        }
        .aawfully-footer .aawfully-footer__instagram-feed {
            padding-bottom: 50px;
        }
        .aawfully-footer .aawfully-footer__instagram-feed .grid {
            grid-template-columns: 3fr 3fr 80px 3fr 3fr;
            place-items: center;
            gap: 16px;
        }
        .aawfully-footer .aawfully-footer__wrapper .grid {
            grid-template-columns: repeat(3,1fr);
            gap: 54px;
        }
        }