
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    font-size: 1.125rem;
    position: relative;
    color: #000;
    background: #ffe900;
    font-family: sohne;
    overflow-x: hidden;
    margin: 0;
}
a{

    text-decoration: none;
    transition: color .2s ease;
        background-color: transparent;
}
.wrapper{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}
.announcment{
    padding: 12px 0;
    background: #000;
    color: #ffe900;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1002;
}
.announcment-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.announcment a{
    color: inherit;
    display: block;
}


.logo{
    flex: 1 0 auto;
}
.logo-icon{
    max-width: 61px;
    width: 100%;
    border-radius: 8px;
}

/* -------------------------------------------------------------------------- */
.aawfully-header {
    position: relative;
    padding: 21px 0;
    z-index: 1000;
}
.aawfully-header .aawfully-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aawfully-wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}
.aawfully-header .aawfully-header__brand {
    flex: 1 0 auto;
}
.aawfully-header__brand a img{
    max-width: 61px;
    width: 100%;
    border-radius: 8px;
}
.aawfully-header .aawfully-header__nav {
    flex: 6;
}
.aawfully-header .aawfully-header__nav .aawfully-header__nav-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}
ol, ul {
    box-sizing: border-box;
}
.aawfully-header .aawfully-header__nav .aawfully-header__nav-wrapper .aawfully-header__nav-link {
    position: relative;
}
.aawfully-header .aawfully-header__nav .aawfully-header__nav-wrapper .aawfully-header__nav-link {
    position: relative;
}
.aawfully-header .aawfully-header__nav .aawfully-header__nav-extras {
    padding: 0 16px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%);
    transition: transform .3s ease-out,opacity .3s ease-out;
    transition-delay: .3s;
    height: 0;
}
.aawfully-header .aawfully-header__nav .aawfully-header__nav-extras .aawfully-search {
    display: flex;
    align-items: stretch;
    position: relative;
}
.visually-hidden {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}
..aawfully-header .aawfully-header__nav .aawfully-header__nav-extras .aawfully-search input {
    background: 0 0;
    max-width: 100%;
    width: 100%;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #ffe900;
    border: 1px solid #ffe900;
    padding: 14px 50px 14px 12px;
    border-radius: 9px;
    font-family: sohne-breit;
    position: relative;
    transition: box-shadow .2s ease;
}
.aawfully-header .aawfully-header__nav .aawfully-header__nav-extras .aawfully-search button {
    background: 0 0;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: transform .2s ease;
}

.aawfully-header .aawfully-header__nav .aawfully-header__nav-extras .aawfully-social-media {
    margin: 34px 0 0;
    padding: 0;
    list-style: none;
    display: none;
    justify-content: center;
    align-items: center;
}
.aawfully-header .aawfully-header__nav-toggle {
    background: 0 0;
    padding: 0;
    line-height: 1;
    border: none;
    outline: none;
    max-width: 33px;
    width: 100%;
    margin-top: 6px;
    display: none;
    margin-left: 26px;
}

.aawfully-header .aawfully-header__cart a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: float 2.6s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-7px);
    }
    100% {
        transform: translatey(0);
    }
}
.aawfully-header .aawfully-header__cart {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.aawfully-header .aawfully-header__cart a .aawfully-header__cart-count {
    color: #000;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 18px;
    font-family: sohne-breit;
}

/* main section----------------------------------- */

.aawfully-about {
    padding: 72px 0 168px;
    position: relative;
    z-index: 999;
}

.aawfully-wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}
.aawfully-about__title {
    text-align: center;
    margin-bottom: 104px;
}


.aawfully-about__title h1 {
    font-family: grandslang;
    text-transform: lowercase;
    font-size: 100px;
    font-size: 6.25rem;
    line-height: 1;
    font-weight: 400;
    font-style: italic
}

.aawfully-about__founders {
    display: flex;
    justify-content: space-around;
    max-width: 1240px;
    margin: 0 auto
}

.aawfully-about__founders figure {
    display: flex;
    align-items: flex-start;
    margin: 0
}
.aawfully-about__founders figure:first-child {
    flex-direction: row-reverse;
}
.aawfully-about__founders figure .img-group {
    position: relative;
    width: 271px;
    height: 361px;
    transition: transform .2s ease-in-out
}

.aawfully-about__founders figure .img-group img {
    transition: opacity .2s linear;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}

.aawfully-about__founders figure .img-group img.young {
    z-index: 9999
}

.aawfully-about__founders figure .img-group:hover img.young {
    opacity: 0!important
}

.aawfully-about__founders figure h2 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 24px;
    text-transform: initial;
    margin-bottom: 16px
}

.aawfully-about__founders figure p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 8px
}

.aawfully-about__founders figure a {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #000;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px
}

.aawfully-about__founders figure a span {
    line-height: 1;
    margin-left: 5px
}

.aawfully-about__founders figure a span svg {
    transition: transform .2s ease-in-out;
    transform-origin: center;
    transform: rotate(0);
    width: 24px
}

.aawfully-about__founders figure a:hover span svg,.aawfully-about__founders figure a:focus span svg {
    transform: rotate(50deg)
}

.aawfully-about__founders figure:first-child {
    flex-direction: row-reverse
}

.aawfully-about__founders figure:first-child .img-group img {
    animation: founderLeft 2.3s ease-in-out infinite
}
@keyframes  founderLeft{
    0% {
        transform: translatey(0) rotate(-7deg);
    }
    50% {
        transform: translatey(-7px) rotate(-7deg);
    }
    100% {
        transform: translatey(0) rotate(-7deg);
    }
}
.aawfully-about__founders figure:first-child .img-group:hover {
    transform: rotate(2deg)
}

.aawfully-about__founders figure:first-child figcaption {
    margin-top: 64px;
    margin-right: 43px
}

.aawfully-about__founders figure:last-child .img-group img {
    animation: founderRight 2.8s ease-in-out infinite
}
@keyframes founderRight {
    0% {
        transform: translatey(0) rotate(8deg);
    }
    50% {
        transform: translatey(-7px) rotate(8deg);
    }
    100% {
        transform: translatey(0) rotate(8deg);
    }
}
.aawfully-about__founders figure:last-child .img-group:hover {
    transform: rotate(-2deg)
}

.aawfully-about__founders figure:last-child figcaption {
    transform: translate(16px,160px)
}

.aawfully-about__content {
    max-width: 680px;
    margin: 80px auto 0;
    text-align: center
}

.aawfully-about__content p {
    /* font-size: 22px; */
    font-size: 1.375rem;
    line-height: 34px
}

.aawfully-about__content p+p {
    margin-top: 24px
}

.aawfully-about__content .aawfully-btn {
    margin-top: 64px
}
.aawfully-btn.aawfully-btn__on-yellow {
    color: #000;
    border: 1px solid #000;
}
@media(max-width: 900px) {
    .aawfully-about {
        padding:64px 0 104px
    }

    .aawfully-about .aawfully-about__title {
        margin-bottom: 104px
    }

    .aawfully-about .aawfully-about__title h1 {
        font-size: 64px;
        font-size: 4rem;
        margin-bottom: 80px
    }

    .aawfully-about .aawfully-about__founders {
        flex-direction: column;
        margin: 0 auto
    }

    .aawfully-about .aawfully-about__founders figure {
        display: flex;
        align-items: flex-start;
        margin: 0
    }

    .aawfully-about .aawfully-about__founders figure:first-child {
        flex-direction: row;
        justify-content: space-around
    }

    .aawfully-about .aawfully-about__founders figure:first-child figcaption {
        margin-top: 64px;
        margin-right: 0
    }

    .aawfully-about .aawfully-about__founders figure:last-child {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around
    }

    .aawfully-about .aawfully-about__founders figure:last-child figcaption {
        transform: translate(0,32px)
    }
}

@media(max-width: 768px) {
    .aawfully-about .aawfully-about__founders figure:last-child {
        margin-top:48px
    }
}

@media(max-width: 600px) {
    .aawfully-about {
        padding:32px 0 104px
    }

    .aawfully-about .aawfully-about__title {
        margin-bottom: 48px
    }

    .aawfully-about .aawfully-about__title h1 {
        font-size: 44px;
        font-size: 2.75rem;
        margin-bottom: 48px
    }

    .aawfully-about .aawfully-about__founders {
        margin: 0 auto
    }

    .aawfully-about .aawfully-about__founders figure .img-group {
        height: 200px
    }

    .aawfully-about .aawfully-about__founders figure:first-child {
        flex-direction: row;
        justify-content: center
    }

    .aawfully-about .aawfully-about__founders figure:first-child .img-group img {
        max-width: 180px;
        margin-left: 16px;
        margin-right: 16px
    }

    .aawfully-about .aawfully-about__founders figure:last-child {
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-top: 64px
    }

    .aawfully-about .aawfully-about__founders figure:last-child .img-group img {
        max-width: 175px;
        margin-right: 16px;
        margin-left: 16px
    }

    .aawfully-about .aawfully-about__founders figure:last-child figcaption {
        transform: translate(0,64px)
    }

    .aawfully-about .aawfully-about__founders figure h2 {
        font-size: 16px;
        font-size: 1rem;
        line-height: 18px;
        margin-bottom: 8px
    }

    .aawfully-about .aawfully-about__founders figure p {
        font-size: 13px;
        font-size: .8125rem;
        line-height: 20px;
        margin-bottom: 4px
    }

    .aawfully-about .aawfully-about__founders figure a {
        font-size: 14px;
        font-size: .875rem;
        line-height: 16px
    }

    .aawfully-about .aawfully-about__content p {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 31px
    }

    .aawfully-about .aawfully-about__content .aawfully-btn {
        margin-top: 56px;
        width: 100%
    }
}

@media(max-width: 480px) {
    .aawfully-about .aawfully-about__title {
        margin-bottom:48px
    }

    .aawfully-about .aawfully-about__title h1 {
        font-size: 40px;
        font-size: 2.5rem;
        margin-bottom: 46px
    }
}



.aawfully-videowise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 80px
}

.aawfully-videowise iframe {
    aspect-ratio: 9/16;
    width: 100%;
    height: 100%
}

@media(max-width: 600px) {
    .aawfully-videowise {
        grid-template-columns:1fr;
        margin-top: 64px
    }











#immi-natura {
    max-width: 480px;
    width: 100%;
    border-radius: 8px;
}
#immi-natura .canada-natura-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#immi-natura .canada-natura-content a:first-child {
    display: block;
}
#immi-natura .canada-natura-content a {
    outline: none;
}
#immi-natura .canada-natura-content p {
    font-size: 20px;
    line-height: 1.5;
}
#immi-natura .canada-natura-content .aawfully-btn {
    margin-top: 24px;
}
.aawfully-btn.aawfully-btn__on-yellow {
    color: #000;
    border: 1px solid #000;
}


/* footer------------------------------------------------------------------------------ */
